
.loader-animation {
  display: inline-block;
  position: relative;
  width: 200px;
  height: 200px;
}
.loader-animation:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 0;
  box-sizing: border-box;
  border: 100px solid #5DA0A2;
  border-color: #5DA0A2 transparent #5DA0A2 transparent;
  animation: loader-animation 1.2s infinite;
}
@keyframes loader-animation {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
