
.code-editor .CodeMirror {
  width: 100%;
  min-height: 300px;
  height: auto;
  max-height: 66vh;
  font-size: 12px;
  line-height: 14px;

  transition: all .3s;

  border: 1px solid #d9d9d9;
  border-radius: 4px;
  overflow: hidden;

  &.CodeMirror-focused {
    border-color: #40a9ff;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }

}
