
.page-content.login {

  display: flex;
  align-items: center;
  justify-content: center;

  .ant-card{
    min-width: 400px;
  }

  .ant-card-head-title {
    text-align: center;
  }

  .anticon {
    color: rgba(0, 0, 0, .25);
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }

}
